@inherits LayoutComponentBase

<main class="w-100 h-100 m-0 p-0">
    @Body
</main>

<div id="blazor-error-ui">
    Đã có lỗi xảy ra. Vui lòng tải lại trang.
    <a href="" class="reload">Tải lại</a>
    <a class="dismiss">🗙</a>
</div>